*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/images/stfood.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: inherit;
}

.cardHighlight{
  min-height: 100%;
  text-align: center;
}

.dashboard {
  background-color: white;
}